@import url(https://fonts.google.com/specimen/Be+Vietnam);

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: 'Be Vietnam', sans-serif;
}

/********* Header ***********/
header {
    background-image: url("../img/bg-tablet-pattern.svg");
    background-size: cover;
    background-position-x: 30px;
    background-repeat: no-repeat;
    background-position-y: -30px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 6% 3% 6% 3%;
}

.graphs img {
    width: 95vw;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
}

/******* Footer ********/
footer {
   background-color: rgb(35, 44, 81);
    color: white;
}